.image_categorie {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  border-radius: 15%;
}

.grid_categorie_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0%;
  grid-row-gap: 2%;
  align-items: center;
}
.categorie_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_categorie_card h4 {
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  opacity: 0;
  background-color: black;
  color: white;
  border-radius: 15%;
}
.grid_categorie_card h4:hover {
  opacity: 0.8;
  background-color: rgb (0, 0, 0, 0.1);
}
