* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navBar {
  display: flex;
  flex-direction: column;
}
.navbartop {
  color: #efefef;
  background-color: #303230;
}
.image_navbar_logo {
  width: 55%;
  margin-bottom: 2em;
}
.imglogo_navbar {
  display: flex;
  justify-content: center;
}
.logo_profil_navbar {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.image_navbar_profil {
  width: 11%;
  margin-top: 0.3em;
  margin-right: 0.3em;
}
.anchor_navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  justify-content: center;
}

.anchor_navbar li {
  font-weight: 900;
  font-size: 0.5em;
  margin-left: 1em;
}

.filter_navbar {
  display: flex;
  justify-content: center;
}
.searchnavbar {
  margin-bottom: 1em;
  border-radius: 5em;
}
.profil_navbar p {
  font-weight: 700;
  font-size: 0.5em;
  margin-right: 2em;
}

@media screen and (min-width: 990px) {
  .imglogo_navbar {
    justify-content: start;
  }
  .image_navbar_logo {
    width: 30%;
    position: absolute;
  }
  .profil_navbar {
    font-size: 2em;
    margin-right: -0.35em;
  }
  .image_navbar_profil {
    width: 5%;
  }
  .logo_profil_navbar {
    padding-right: 2em;
  }
  .searchnavbar {
    margin-left: 22%;
    height: 3.5em;
    width: 35%;
  }
  .anchor_navbar li {
    font-size: 1.2em;
  }
  .anchor_navbar ul {
    padding-top: 13%;
    margin-left: 20%;
  }
  .profil_navbar p {
    font-weight: 700;
    font-size: 0.5em;
    margin-right: 1.5em;
  }
  .anchor_navbar li:hover {
    color: red;
    transform: scale(1.1);
  }
}
