.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 1%;
}
.image_navbar_logo {
  width: 10%;
  position: absolute;
  left: 1%;
}
.anchor_navbar ul li a {
  text-decoration: none;
  color: #e33335;
}
.anchor_navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  color: #e33335;
  font-family: "Barlow", Courier, monospace;
  font-weight: 600;
  font-size: large;
  gap: 105%;
  justify-content: center;
  padding-left: 39%;
}
.navbar_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.anchor_filter_navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  left: -10%;
}
.search_logo {
  width: 25px;
}
button {
  background-color: #eff0f6;
  border: none;
}
